@media(max-width :1200px) {
    .container {
        max-width: 100%;
        min-width: 100%;
        padding:  0 2rem;
    }
    .item-menu {
        font-size: 1rem;
    }
    .call {
         width: 65%;
         justify-content: space-between;
    }
    .ipt-search{
        width: 70%;
    }
 
}
@media(max-width :768px){

    .banner{
        width: 100%;
        height: auto;
    }
    
    .banner-content{
        padding: 25% 0;
        max-width: 100%;
        min-width: 100%;
        text-align: center;
    }
    .menubar {
        width: 60%;
    }
    .item-menu {
        font-size: 0.73rem;
    }
    .img-vector {
        width: 25px;
        height: 25px;
    }
    .aboutus-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aboutus-left{
        width: 100% ;
        padding-right: 0;
        text-align: center;
        
    }
    .call {
        width: 50%;
        margin: 0 auto;
    }
    .aboutus-left .title-content{
        display: flex;
        width: 100%;
    }
    .wrapper{
        min-width: 100%;
        max-width: 100%;
    }
    .container{
       min-width: 100%;
        max-width: 100%;
    }
    .header{
       width: 100%;
    }
    .title{
       font-size: 5.07rem;
       line-height: 100%;
    }
    .des{
       font-size: 1rem;
    }
 /* -47 */
    .title-item{
      
       font-size: 1.31rem;
    }
    .text{
       font-size: 0.8157rem;
    }
    .btn{
       padding: 16px 38px;
       margin:  30px auto;
    }
    .des-work{
       margin: 5% 7%;
    }
    .about-right {
        width: 100%;
        margin-top: 30px;
    }
    .link-project{
        padding: 3%;
    }
    .blog-main {
        grid-template-columns: repeat(2,1fr);
    }
    .blog-list-content {
        padding: 0 10px;
    }
    .ipt-search::placeholder{
        font-size: 0.73rem;
    }
}
@media(max-width :480px){
    .banner{
        width: 100%;
        height: auto;
        border-bottom-left-radius: 121px;
    }
    .menubar{
        display: none;
    }
    .vector.vector-hidden{
        display: block;
    }
    .vector-hidden-fl{
        display: flex;
        justify-content: flex-end;
    }
   .header-bar{
    display: block;
    }
    .work-content {
        flex-direction: column-reverse;
    }
    .work-item {
        margin-bottom: 30px;
    }
    .title{
        font-size: 4.07rem;
    }
    .title-content{
        font-size: 2.75rem;
    }
    .call-img{
        width: 63px;
        height: 63px;
    }
    .number{
        font-weight: 700;
        font-size: 1.24rem;
    }
    .call{
        width: 100%;
        justify-content: space-evenly;
    }
    .aboutus-photo{
        width: 100%;
        border-top-right-radius: 126px;
        border-bottom-left-radius: 63px;
    }
    .project-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 3%;
    }
    .project-content{
        padding-top:70px;
        width: 100%;
    }
    .project-content .title-content{
        padding-bottom: 20px;
    }
    .blog-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2%;
    }
    .blog-list{
        border: 1px solid #E7E7E7;
        border-radius: 62px;
        padding: 5% 5% 6%;
        width: 100%;
        background: #fff;
    }
    .footer{
        background: #F4F0EC;
    }
    .footer-list.list-footer{
        display: none;
    }
    .footer-list .list-first{
        width: 100%;
        
    }
    .footer-list  {
        padding-top: 20px;
    }
    .footer-content {
        display: block;
        margin-bottom: 50px;
        
    }
    
    .footer-social {
        width: 100%;
        justify-content: space-evenly;
    }
    .logo-page {
        width: 25px;
        height: 25px;
    }
    .title-page {
        font-size: 30px;
    }
    
}
