@media(max-width :1200px){
    .banner-pages{
        height: 40vh;
    }
    .title-content{
        font-size: 3.5rem;
    }
    .des.des-pages{
        font-size: 1.3rem;
     }
}
@media(max-width :768px){
    .banner-pages{
        height: 40vh;
    }
    .title-content{
        font-size: 3.1rem;
    }
    .des.des-pages{
        font-size: 1rem;
     }
     .des.des-pages-banner{
        font-size: 1.5rem;
     }
     .pages-main-content {
      display: block;
      text-align: center;
    }
    .pages-main-text {
        margin: 0 auto;
        width: 80%;
    }
    .btn.btn-none{
        display: block;
    }
    .btn{
        display: none;
    }
    .pages-main-content.pages-reverse {
        display: block;
    }
    .pages-main-img {
        width: 100%;
    }
   .main-page{
    margin-bottom: 15%;
   }
   .mail-box-text{
    width: 100%;
   }
}
@media(max-width :480px){
    .banner-pages {
        height: 30vh;
    }
    .title-content{
        font-size: 2.63rem;
    }
    .des.des-pages{
        font-size: 0.8rem;
     }
     .des.des-pages-banner{
        font-size: 1rem;
     }
    
    
    .des {
        font-size: 0.7rem;
    }
    .pages-comment-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pattern {
        width: 10%;
    }
   
    .img-main-pages {
    width: 100%;
    border-radius: 40px;
    }
    .pages-main-content.pages-reverse {
     display: block; 
    
}
 .btn.btn-none{
        display: block;
    }
    .btn{
        display: none;
    }
    .pages-comment-text , .pages-main-img ,  .mail-box-text , .pages-comment{
        width: 100%;
    }
    .mail-box{
        margin-bottom: 100px;
    }
   
}