@media(max-width :1200px) {
    .banner-contact{
        height: 40vh;
    }
}
@media(max-width :768px) {
    .banner-contact{
        height: 40vh;
    }
    
}
@media(max-width :480px) {
    .banner-contact{
        height: 30vh;
    }
    .user-main.user-contact{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
.user-inp::placeholder{
    
        font-size: 1.37rem;
            
    }
    .title-page{
        font-size: 0.9rem;
    }
    .title-content{
        font-size: 1.5rem;
    }
}