.banner-contact{
    background: url(../images/Photo\ \(10\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: flex-end;
}
.contact-form{
    text-align: center;
    margin: 10% 0;
}
.form-contact{
    margin-bottom: 10%;
}
.user-main.user-contact{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 10%;
}
 .user-ipn{
    width: 80%;
}
.user-inp.user-ipn-text{
    width: 80%;
    padding:0 0 20%;
}
.gmap{
     width: 100%;
     border-radius: 70px;
}
.iffame{
    padding: 0;
    background: 000000;
}